* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

body {
  font-size: 20px;
}

p {
  font-size: 1em;
  line-height: 1.4;
}

.block-slider {
  min-height: 1080px;
  padding: 1.5em 2.5em 4.5em;
  background: #25282a;
  margin: 0;
}

.block-slider .container {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.block-slider input {
  display: none;
}

.block-slider .slider-list {
  width: 500%;
  line-height: 0;
}

.block-slider .slide {
  width: 20%;
  float: left;
  position: relative;
}

.block-slider .slide img {
  width: 100%;
}


.block-slider .slider-dots {
  display: flex;
}

.block-slider .slider-dots label {
  display: flex;
  align-items: center;
  padding: 5px 7px;
  cursor: pointer;
}

.block-slider .slider-dots label span{
  border-radius: 50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #7faae8;
  border: 1px solid #7faae8;
  transition: all 0.3s;
}

.block-slider .slider-dots label:hover span{
  background: #fff;
  border-color: #fff;
}

.block-slider .slider-dots label:active span{
  background: #295597;
  border-color: #fff;
}




.block-slider .slider {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.block-slider .slider-image {
  margin-bottom: 2em;
  border-radius: 1.5em;
}

.block-slider .slider-text {
  width: 50%;
}

.block-slider .slider .slider-list {
  transition: all 0.8s ease-out;
}



.block-slider #slide1:checked ~ .slider-dots label:nth-child(1) span,
.block-slider #slide2:checked ~ .slider-dots label:nth-child(2) span,
.block-slider #slide3:checked ~ .slider-dots label:nth-child(3) span,
.block-slider #slide4:checked ~ .slider-dots label:nth-child(4) span,
.block-slider #slide5:checked ~ .slider-dots label:nth-child(5) span {

  background: none;
}

.slider-text .slide {
  transition: opacity 2s;
}

.block-slider #slide1 ~ .slider-text .slide-1,
.block-slider #slide2 ~ .slider-text .slide-2,
.block-slider #slide3 ~ .slider-text .slide-3,
.block-slider #slide4 ~ .slider-text .slide-4,
.block-slider #slide5 ~ .slider-text .slide-5 {
  opacity: 0;
  
}

.block-slider #slide1:checked ~ .slider-text .slide-1,
.block-slider #slide2:checked ~ .slider-text .slide-2,
.block-slider #slide3:checked ~ .slider-text .slide-3,
.block-slider #slide4:checked ~ .slider-text .slide-4,
.block-slider #slide5:checked ~ .slider-text .slide-5 {
  opacity: 1;
}

.block-slider #slide1:checked ~ .slider .slider-list {
  margin-left: 0;
}
.block-slider #slide2:checked ~ .slider .slider-list {
  margin-left: -100%;
}

.block-slider #slide3:checked ~ .slider .slider-list {
  margin-left: -200%;
}

.block-slider #slide4:checked ~ .slider .slider-list {
  margin-left: -300%;
}

.block-slider #slide5:checked ~ .slider .slider-list {
  margin-left: -400%;
}


@media (max-width: 1799px) {

  .block-slider {
    min-height: auto;
  }

  .block-slider .slider-text {
    width: 65%;
  }

}

@media (max-width: 1499px) {

  body {
    font-size: 16px;
  }

}

@media (max-width: 767px) {

  body {
    font-size: 12px;
  }

  p {
    font-size: 1.5em;
  }

}

@media (max-width: 699px) {

  body {
    font-size: 10px;
  }

  p {
    font-size: 1.5em;
  }

  .block-slider {
    padding: 2em 2.5em 2.5em;
  }

  .block-slider .container {
    justify-content: center;
  }

  .block-slider .slider-dots {
    width: 100%;
    justify-content: center;
  }

  .slider-text .slide {
    transition: opacity 1.5s;
  }

  .block-slider .slider-text {
    width: 350px;
    max-width: 100%;
    order: 3;
    margin: 2em auto 4em 0;
  }

}

@media (max-width: 599px) {

  body {
    font-size: 8px;
  }

  .block-slider .slider-dots label span {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 449px) {

  .block-slider .slider-dots label span {
    width: 11px;
    height: 11px;
  }

}
